<ion-tabs>
  <ion-tab-bar slot="bottom">

    <!-- Tab 1: Home -->
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <!-- Tab 2: Input Siswa -->
    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon name="school-outline"></ion-icon>
      <ion-label>Siswa</ion-label>
    </ion-tab-button>

    <!-- Tab 3: Input Admin -->
    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button>

    <!-- Tab 4: Data Guru -->
    <ion-tab-button tab="tab4" href="/tabs/tab4">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Guru</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
