<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Aplikasi Sekolah
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-img src="assets/sekolah.webp" class="banner-img"></ion-img>

  <div class="text-center">
    <h1 class="judul">SD methodist 1</h1>
    <p class="deskripsi">Selamat datang di aplikasi data guru dan siswa SD methodist 1.</p>
  </div>

  <ion-card button="true">
    <ion-item lines="none">
      <ion-icon name="people-circle-outline" slot="start" size="large"></ion-icon>
      <ion-label>
        <h2>Data Guru</h2>
        <p>Lihat daftar dan detail guru di sekolah</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card button="true">
    <ion-item lines="none">
      <ion-icon name="school-outline" slot="start" size="large"></ion-icon>
      <ion-label>
        <h2>Data Siswa</h2>
        <p>Kelola data siswa SD methodist 1</p>
      </ion-label>
    </ion-item>
  </ion-card>

</ion-content>
